<!DOCTYPE>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
		<div class="main">
			<h1><b><a href="/">Galaxy Friends</a><b></h1>
			<p><i>Find yourself, find your spirit animal</i></p>
		</div>
		{{{body}}} 
</body>
</html>