<!DOCTYPE>
<html>
<head>
	<title>Galaxy-Friends</title>
	<link rel="stylesheet" href="/css/style.css">\
	<p>FIND YOUR SPIRIT ANIMAL</p>
</head>
<body>

		
	<center>
		<div>
			<p id="poo">Galaxy Friends</p>
			<p id="smoo">Find your spirit animal:</p>
			<a href="/" id="foo">Start again</a>
		</div>

		<div>

		{{{body}}} 
	

	</center>
</body>
</html>