<!DOCTYPE>
<html>
<head>
	<title>Spirit Animalz</title>
<!-- 	<link type="text/css" href="/css/style.css">
 --></head>
<body style="background-color: yellow;">

	<center>
		<div>
			Spirit Animalz
			<a href=""></a>
		</div>

		{{{body}}} 
	

		<div>
			Footer
		</div>

	</center>
</body>
</html>